= form_for @user, :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      Заполните информацию

    .form-group
      %label{for: 'inputEmail', class: 'col-md-2 control-label'}
        Фамилия
      .col-md-10
        = f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: 'Фамилия', id: 'inputName'
    .form-group
      %label{for: 'inputEmail', class: 'col-md-2 control-label'}
        Имя
      .col-md-10
        = f.text_field :name, class: 'form-control', placeholder: 'Имя', id: 'inputName'
    .form-group
      %label{for: 'inputEmail', class: 'col-md-2 control-label'}
        Отчество
      .col-md-10
        = f.text_field :third_name, class: 'form-control', placeholder: 'Отчество', id: 'inputName'
    .form-group
      %label{for: 'inputEmail', class: 'col-md-2 control-label'}
        Имя
      .col-md-10
        = f.date_select :birthday, class: 'form-control', id: 'inputBirthday'
    .form-group
      %label{for: 'inputEmail', class: 'col-md-2 control-label'}
        Город
      .col-md-10
        = f.text_field :city, class: 'form-control', placeholder: 'Город', id: 'inputCity'

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
