.container
  .row
    .col-lg-8
      .jumbotron
        .list-group
          .list-group-item
            .row-picture
              = image_tag 'default.png'
            .row-content
              %h2.list-group-item-heading
                = @user.name
                = @user.last_name
                    
              .profile-usertitle-job
                - if @user.birthday
                  = @user.birthday.strftime("%d %b %Y")
                = @user.city
  .row
    %h3 Безработный

    = link_to root_path do
      %button.btn.btn-sm.btn-primary
        На работу

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
